ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
*:focus{
	outline: none !important;
}
h1, h2, h3, h4, h5, h6 {
	color: #222222;
	line-height: 1.3;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #0b88ee;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: #fedc19;
}
body ::-webkit-scrollbar-track
{
	background-color: #f2f2f2;
	border-radius: 10px;
}

body ::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: #ddd;
	border-radius: 10px;
}

body ::-webkit-scrollbar-thumb
{
	background-color: #ddd;	
	border-radius: 10px;
	
}
legend {
	font-size: 18px;
	padding: 7px 0px;
	color: #303030;
	border-color: #ddd;
}
label {
	font-size: 13px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
input[type=text] {
	min-width: 50px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
img{
	max-width: 100%; 
	height: auto;
}

#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover{
	color: #fff;
	background-color: #fedc19;
	border-color: #fedc19;
}
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	border: none;
	background: #363636;
	padding: 0px 25px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	line-height: 44px;
	display: inline-block;
	vertical-align: top;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}


body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: #777;
	font-size: 14px;
	line-height: 1.428571429;
	width: 100%;
	background: #fff;
}

#top {
    background: #222222;
}
#top .box-left {
    float: left;
    list-style: none;
    color: #fff;
    line-height: 22px;
    margin: 0;
    padding: 12px 0;
}
#top .box-right {
    float: right;
}

#top .box > li {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    position: relative;
}

#top .btn-group .btn-link, #top .box-right > li > a, #top .btn-group .text-ex {
    text-shadow: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    overflow: hidden;
    color: #fff;
    line-height: 26px;
    font-weight: 400;
    padding: 10px 0;
    display: block;
    text-align: left;
    border: 0;
    text-decoration: none;
}

#top .btn-group .dropdown-menu li {
    border-bottom: 1px solid #eeeeee;
}
#top .btn-group .dropdown-menu li > a, #top .btn-group .dropdown-menu li> button {
    font-size: 14px;
    padding: 10px 0 9px 0;
    line-height: 26px;
    display: block;
    text-transform: capitalize;
    font-weight: normal;
    height: inherit;
    border-radius: 0;
    text-align: left;
    color: #777;
}
#top .btn-group .dropdown-menu {
    position: absolute;
    left: auto;
    right: -15px;
    text-align: left;
    margin: 0;
    background: white;
    border: none;
    border-bottom: 2px solid #fedc19;
    border-radius: 0;
    padding: 0 20px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
}

/***HEADER**/
.header-inner {
    position: relative;
    background: #fedc19;
    text-align: center;
    z-index: 8;
}
.header-inner .container-inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
}
#logo {
    padding: 31px 0;
}
#logo a {
    display: inline-block;
}
.logo-container {
    z-index: 1;
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
}

#cart > button {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    width: auto;
    position: relative;
    float: none;
}

.box-cart {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 112;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.box-cart .wishlist, .box-cart .compare {
    display: inline-block;
    vertical-align: top;
    margin-right: 23px;
}
.box-cart .compare a:before, .box-cart .wishlist a:before, #cart > button:before {
    content: "\e862";
    font-family: 'Linearicons-Free';
    font-size: 32px;
    color: #222;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-right: 5px;
}
.box-cart .compare a > span {
    color: #222;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 16px;
    text-transform: capitalize;
}

#cart {
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.box-cart .compare a span span {
    display: block;
}

.box-cart .wishlist a {
    display: block;
    position: relative;
}
.box-cart .wishlist a:before {
    content: "\e813";
}
.box-cart .wishlist a > span, #cart-total {
    color: #222;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    vertical-align: bottom;
    line-height: 1;
}
.box-cart .wishlist a .count, #cart-total .txt_number {
    left: 39px;
    position: absolute;
    font-size: 11px;
    top: -4px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    background: #222;
    border-radius: 100%;
    color: #fff;
    font-weight: 500;
}
#cart > button:before {
    content: "\e82e";
}

.top-search {
    position: absolute;
    top: 50%;
    left: 290px;
    right: 440px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#search-by-category {
    position: relative;
    width: 100%;
}
#search-by-category .search-container .categories-container {
    position: absolute;
    left: 1px;
    top: 1px;
    padding: 12px 0;
    background: #fff;
}
#search-by-category .search-container .categories-container .hover-cate p {
    margin: 0;
    color: #555555;
    padding: 0 25px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid #e1e1e1;
}
#search-by-category .search-container .categories-container .hover-cate p i {
    display: inline-block;
    vertical-align: top;
    font-size: inherit;
    line-height: inherit;
    margin-left: 19px;
}

#search-by-category .search-container .categories-container .hover-cate .cate-items {
    z-index: 9999 !important;
    position: absolute;
    display: none;
    background: #FFF;
    max-height: 300px;
    overflow: auto;
    margin-top: 0px;
    border: 1px solid #ddd!important;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    top: 100%;
    text-align: left;
}
#search-by-category .search-container #text-search {
    padding: 0 120px 0 190px;
    height: 52px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #fff;
    z-index: 1;
    background: #fff;
    color: #a4a4a4;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#btn-search-category {
    background: #222;
    border: none!important;
    padding: 0 30px;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 52px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 52px;
}

#search-by-category #sp-btn-search {
    position: absolute;
    right: 0px;
    top: 0;
}

.ul-top-items .li-top-item .a-top-link {
    padding: 15px 0 15px 0;
    color: #222222;
    font-size: 15px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 600;
}
.top-menu .container-inner {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.top-menu .col-hoz {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.header-phone {
    float: right;
    padding: 14px 0;
}
.header-phone p {
    font-size: 15px;
    color: #222;
    font-weight: 500;
    margin: 0;
    line-height: 28px;
}
.header-phone p:before {
    content: "\e831";
    font-family: 'Linearicons-Free';
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}
.header-phone p span {
    font-weight: 600;
}

#content {
    min-height: 300px;
}
.banner7{ margin-top: 28px;}

.oc-menu .oc-menu-bar {
    background: #222222;
    color: #FFFFFF;
    padding: 17px 20px 17px 20px;
    position: relative;
}
.vertical-menu .ul-top-items .li-top-item .a-top-link {
    padding: 10px 20px 10px 20px;
    color: #222222;
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;
    font-weight: 400;
}


.banner-static {
    text-align: center;
    clear: both;
    overflow: hidden;
}
.static-top-sinrato2 .image {
    margin-top: 30px;
}


/****BLOCK INFO****/
.ma-corporate-about {
    text-align: center;
    background: #fff;
    overflow: hidden;
    padding: 27px 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.ma-corporate-about .col {
    padding: 0;
    position: relative;
}
.ma-corporate-about .col:after {
    content: "";
    width: 1px;
    height: 60px;
    background: #ececec;
    position: absolute;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ma-corporate-about .col:last-child:after {
    opacity: 0;
}

.ma-corporate-about .block-wrapper {
    background: url(../image/wrapper1.png) left center no-repeat;
    padding: 10px 0;
    padding-left: 62px;
    display: inline-block;
    vertical-align: top;
}
.ma-corporate-about .block-wrapper .text-des {
    text-align: left;
    font-size: 13px;
    line-height: 20px;
}
.ma-corporate-about .block-wrapper .text-des p {
    color: #222;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
    display: block;
    margin-bottom: 4px;
}
.ma-corporate-about .block-wrapper .text-des span {
    color: #777;
    display: block;
}



.module-title {
    position: relative;
    display: block;
    margin-top: 54px;
    margin-bottom: 22px;
    text-align: left;
}
.module-title:before {
    content: "";
    background: #e9e9e9;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
}

.module-title h2 {
    position: relative;
    text-transform: capitalize;
    font-size: 26px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    padding-right: 30px;
    line-height: 33px;
}

.module-title h2 .word1 {
    font-weight: 600;
}

.tabs-category-slider .tabs-categorys {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #fff;
    padding: 0 15px;
    border: 1px solid #e9e9e9;
    border-radius: 25px;
}
.tabs-category-slider .tabs-categorys li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    position: relative;
}
.tabs-category-slider .tabs-categorys li a {
    font-size: 14px;
    color: #777;
    line-height: 30px;
    text-transform: none;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0 15px;
}
.tabs-category-slider .tabs-categorys li a:hover, .tabs-category-slider .tabs-categorys li.active a {
    color: #222;
}
.tabs-category-slider.tabs-style1 .box-tab {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tabs-style2 .tabs-categorys {
	display: none;
}



.owl-item.active .item {
    -moz-animation: zoomIn 500ms ease;
    -o-animation: zoomIn 500ms ease;
    -webkit-animation: zoomIn 500ms ease;
    animation: zoomIn 500ms ease;
}

/* Products */ 

.owl-item.active .item {
    -moz-animation: zoomIn 500ms ease;
    -o-animation: zoomIn 500ms ease;
    -webkit-animation: zoomIn 500ms ease;
    animation: zoomIn 500ms ease;
  }
  
  .item .item-inner {
      position: relative;
      border: 1px solid #f0f0f0;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      overflow: hidden;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
  }
  .item .item-inner:hover {
      border-color: #fedc19;
      z-index: 1;
  }
  .label-product {
      color: #fff;
      font-weight: 400;
      text-align: center;
      line-height: 22px;
      padding: 0 9px;
      position: absolute;
      background: #83b71c;
      min-width: 46px;
      left: 12px;
      text-transform: uppercase;
      font-size: 12px;
      z-index: 3;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
  }
  .label-product span {
      transform: skewX(20deg);
      -webkit-transform: skewX(20deg);
      -moz-transform: skewX(20deg);
      -o-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
      display: block;
  }
  .label_sale {
      background: #fedc19;
      color: #222;
  }
  .label-product:nth-child(1) {
      top: 20px;
  }
  .label-product:nth-child(2) {
      top: 47px;
  }
  .item-inner .images-container {
      position: relative;
      text-align: center;
      overflow: hidden;
  }
  .item-inner .images-container > .inner {
      position: relative;
  }
  .item-inner .images-container .product-image {
      position:relative;
      display: block;
  }
  .item-inner .images-container img {
      margin: auto;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
  }
  .item-inner .images-container .img-r {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
      opacity:0;
      visibility:hidden;
      z-index:1;
  }
  .item-inner:hover .images-container .img-r {
      opacity:1;
      visibility: visible;
  }
  .item-inner .images-container .quickview {
      position: absolute;
      right: 10px;
      bottom: 20px;
      opacity: 0;
      z-index: 3;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
  }
  .item-inner:hover .images-container .quickview {
      opacity: 1;
  }
  .item-inner:hover .images-container .quickview button {
      transform:scale(1);
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -ms-transform:scale(1);
      -o-transform:scale(1);
  }
  .item-inner .images-container .quickview button {
      width: 36px;
      height: 36px;
      line-height: 36px;
      background: #e9e9e9;
      color: #222;
      padding: 0;
      font-weight: normal;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      transform: scale(0.7);
      -webkit-transform:scale(0.7);
      -moz-transform:scale(0.7);
      -ms-transform:scale(0.7);
      -o-transform:scale(0.7);
  }
  .item-inner .images-container .quickview button:hover {
      background: #fedc19;
  }
  .item-inner button.btn-quickview:before {
      content: "\e86f";
      font-family: 'Linearicons-Free';
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      line-height: inherit;
  }
  .item-inner .images-container .quickview button span {
      display: none;
  }
  
  .item-inner .images-container .action-links {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      right: 10px;
      z-index: 3;
      top: 20px;
      
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
  }
  .item-inner:hover .images-container .action-links {
      opacity: 1;
      visibility: visible;
  }
  .item-inner .action-links  button{
      line-height: 36px;
      width: 36px;
      display: block;
      background-color: #e9e9e9;
      font-weight: normal;
      font-size: 0;
      padding: 0;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      text-align: center;
      color: #222;
      margin-bottom: 5px;
      transform:scale(0.7);
      -webkit-transform:scale(0.7);
      -moz-transform:scale(0.7);
      -ms-transform:scale(0.7);
      -o-transform:scale(0.7);
  }
  .item-inner:hover .action-links  button {
      transform:scale(1);
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -ms-transform:scale(1);
      -o-transform:scale(1);
  }
  .item-inner .action-links  button:last-child {
      margin: 0;
  }
  .item-inner .action-links button span { display:none;}
  .item-inner .action-links  button:before {
      
      font-family: 'Linearicons-Free';
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      line-height: inherit;
  }
  .item-inner .action-links  button.btn-wishlist:before {
      content: "\e813";
  }
  .item-inner .action-links  button.btn-compare:before {
      content: "\e862";
  }
  .item-inner .action-links button:hover {
      background: #fedc19;
  }
  .item-inner button.btn-cart {
      line-height: 36px;
      padding: 0 25px;
      background: #fedc19;
      color: #222;
      font-size: 14px;
      font-weight: normal;
      text-transform: capitalize;
      margin-top: 10px;
  }
  .item-inner button.btn-cart:hover {
      color: #fff;
      background: #222;
  }
  .item-inner .caption {
      background: transparent;
      text-align: left;
      overflow: hidden;
      position: relative;
      padding: 22px 15px 26px 15px;
  }
  .item-inner .product-des {
      line-height: 22px;
      }
  .product-name {
      display: block;
      margin: 0;
  }
  .product-name a {
      padding: 0;
      display: block;
      text-transform: capitalize;
      overflow: hidden;
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      color: #222;
  }
  .product-name a:hover {
      color: #fedc19;
  }
  .ratings {
      display:block;
  }
  .ratings a {
      margin-left: 8px;
      text-transform: capitalize;
      color: #5a5a5a;
      font-size: 12px;
      line-height: 12px;
      display: inline-block;
      vertical-align: top;
  }
  .ratings a:hover {
      color: #fedc19;
  }
  .ratings a.review-count:after {
      content: "|";
      margin-left: 8px;
      vertical-align: top;
  }
  .ratings .rating-box {
      display: inline-block;
      vertical-align:top;
  }
  .rating-box div[class^='rating']{
      background: url('../image/rating0.png') no-repeat;
      font-size: 0;
      height: 13px;
      width: 79px;
  }
  .rating-box div.rating1{
      background-image: url('../image/rating1.png');
  }
  .rating-box div.rating2{
      background-image: url('../image/rating2.png');
  }
  .rating-box div.rating3{
      background-image: url('../image/rating3.png');
  }
  .rating-box div.rating4{
      background-image: url('../image/rating4.png');
  }
  .rating-box div.rating5{
      background-image: url('../image/rating5.png');
  }
  .price-box p {
      display: inline-block;
      vertical-align:top;
      margin-bottom: 0;
  }
  .price-box .price-tax {
      display: none;
  }
  .price-box .price {
      color: #222222;
      font-size: 18px;
      font-weight: 600;
  }
  .price-box p.special-price .price{
      color: #fe4f19;
  }
  .price-box p.old-price {
      margin-left: 4px;
      padding-top: 3px;
  }
  .price-box p.old-price .price {
      color: #999999;
      text-decoration: line-through;
      font-size: 15px;
      font-weight: 400;
  }
  .item-inner .caption .price-box {
      display: block;
      margin-top: 8px;
  }
  .item-inner .caption .model {
      margin: 0;
      color: #737373;
  }
  .item-inner .caption .ratings {
      margin-bottom: 6px;
      margin-top: 15px;
  }
  .item-inner .category-options .ul-swatches-colors {
      margin-bottom: 5px;
  }
  
  .item-inner .caption .price-box label {
      margin:0;
      font-size: 13px;
      color: #363f4d;
      display: none;
  }
  .item-inner .caption .manufacture-product {
      margin-bottom: 4px;
  }
  .item-inner .caption .manufacture-product a {
      font-size: 13px;
      color: #222;
      font-weight: 400;
      line-height: 20px;
      padding: 0;
      text-transform: uppercase;
  }
  .item-inner .caption .manufacture-product a:hover {
      color: #fedc19;
  }
  .item-inner .caption .product-tags {
      
  margin-bottom: 7px;
  }
  .item-inner .caption .product-tags a {
      color: #5a5a5a;
      font-size: 13px;
  }
  .item-inner .caption .product-tags a:hover {
      color: #fedc19;
  }
  .item-inner .caption .available {
      display: none;
  }


  .grid-style .item-inner:hover button.btn-cart {
    opacity: 1;
    bottom: 37px;
}
.grid-style .item-inner button.btn-cart {
    position: absolute;
    bottom: 33px;
    left: 15px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.grid-style:not(:first-child) {
    margin-top: 45px;
}

.owl-carousel.owl-theme .owl-nav div {
    position: absolute;
    top: 50%;
    font-size: 0;
    margin: 0;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    padding: 0;
    line-height: 58px;
    color: #a9a9a9;
    background: rgba(255,255,255,0.75);
    border: 1px solid #e9e9e9;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.module-nav2 .owl-carousel.owl-theme .owl-nav {
    border: 1px solid #e9e9e9;
    padding: 0 9px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
.module-nav2 .owl-carousel.owl-theme .owl-nav {
    position: absolute;
    right: 0px;
    top: -54px;
    background: #fff;
}
.module-nav2 .owl-carousel.owl-theme .owl-nav div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    opacity: 1;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    margin: 0;
    border: 0;
    width: 25px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}

.owl-carousel.owl-theme .owl-nav div.owl-prev:before {
    content: "\e879";
}
.owl-carousel.owl-theme .owl-nav div:before {
    font-family: "Linearicons-Free";
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    width: 100%;
    line-height: inherit;
}

.owl-container .owl-item {
    padding: 0 15px;
}
.owl-container {
    margin: 0px -15px;
}

.owl-carousel.owl-theme .owl-nav div.owl-next:before {
    content: "\e87a";
}

.list-style .item .item-inner .caption {
    display: table-cell;
    vertical-align: middle;
    width: 56%;
    padding: 15px;
}


.list-style .item .item-inner .images-container {
    display: table-cell;
    vertical-align: middle;
    width: 44%;
}


.static-middle-sinrato2 {
    margin-top: 30px;
}

.static-middle-sinrato2 .col {
    float: left;
    width: 26.6666%;
    padding: 0 15px;
    margin-top: 30px;
}

.static-middle-sinrato2 .col:nth-child(2) {
    width: 46.6668%;
}

.banner-static .image a {
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
}
.banner-static .image a img {
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

img {
    max-width: 100%;
    height: auto;
}

/***PRODUCT TAB****/
.product-tabs-container-slider .module-title h2 {
    display: none;
}

.product-tabs-container-slider .tabs-categorys {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.product-tabs-container-slider .tabs-categorys li {
    float: left;
    margin-right: 20px;
}
.product-tabs-container-slider .tabs-categorys li.active a {
    color: #222;
}
.product-tabs-container-slider .tabs-categorys li:first-child a {
    padding-left: 0;
}
.product-tabs-container-slider .tabs-categorys li a {
    font-size: 26px;
    color: #868686;
    line-height: 1.3;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
    background: #fff;
}


/**Featured Category***/
/* featured-categories-container */
.featured-categories-container {

}
.featured-categories-container .content {
	border: 1px solid #f0f0f0;
	padding: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.featured-categories-container .item:not(:first-child) {
	margin-top: 30px;
}
.featured-categories-container.module-nav2  .owl-carousel.owl-theme .owl-nav {
	
right: -5px;
	
top: -74px;
}
.fcategory-content {
}
.fcategory-content .image {
	text-align: center;
}
.fcategory-content .content-thumb {
	
}
.fcategory-content .content-thumb .total-items {
	color: #a9a9a9;
	text-transform: capitalize;
	margin-bottom: 14px;
	display: none;
}
.fcategory-content .image img {
	-webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
.fcategory-content .image:hover img {
	opacity: 0.7;
}
.featured-categories-container .content-thumb .name {
	margin-top: 0;
	margin-bottom: 16px;
	margin-top: 25px;
}
.featured-categories-container .content-thumb .name a {
	font-size: 16px;
	color: #222;
	display: block;
	font-weight: 500;
	line-height: 22px;
	text-transform: capitalize;
}
.featured-categories-container .content-thumb .name a:hover {
	color: #fedc19;
}
.sub-featured-categories li a {
	display: block;
	font-size: 14px;
	color: #777;
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.sub-featured-categories li a:hover {
	color: #fedc19;
	padding-left: 7px;
}
.featured-categories-container .view-more {
	line-height: 22px;
	color: #fedc19;
	text-transform: capitalize;
	
	display: inline-block;
	vertical-align: top;

	margin-top: 16px;
}
.featured-categories-container .view-more:before {
	content:"+";
	margin-right: 5px;
}
.featured-categories-container .view-more:hover {
	color: #222;

}


/* brand */
.brand-slider img {
	display:inline-block;
	vertical-align:top;
	opacity:0.4;
}
.brand-slider img:hover {opacity:1;}
.brand-slider {
	border: 1px solid #f0f0f0;
	padding: 37px 0;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 60px;
}
.swiper-wrapper { display: flex; }

/*****BLOG****/
.menu-recent .aritcles-content {
    text-align: left;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.articles-name {
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 22px;
    position: relative;
    margin-top: 0;
    margin-bottom: 12px;
    color: #222;
    font-weight: 500;
    padding-bottom: 15px;
}
.articles-name:after {
    content: "";
    width: 36px;
    height: 1px;
    background: #d6d6d6;
    position: absolute;
    bottom: 0;
    left: 0;
}
.post-date-time {
    line-height: 22px;
    display: inline-block;
    vertical-align: top;
    color: #222;
    font-size: 13px;
    background: #fedc19;
    padding: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 14px;
}


/*list-module*/
.list-module-style2 .list-style .item .item-inner .images-container {
	width: 27%;
}
.list-module-style2 .list-style .item .item-inner .caption {
	padding: 25px 10px;
}
.list-module-style2 .list-style:not(:first-child) {
	margin-top: -1px;
}
.list-module-style2 .list-style:not(:first-child) .item .item-inner {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.list-module-style2 .list-style:not(:last-child) .item .item-inner {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.list-module-style2 .module-title:before {
    display: none;
}

.list-module-style2 .item-inner .caption .manufacture-product, .list-module-style2 .item-inner .caption .ratings { display: none; }

.testimonial-container .module-title::before { display: none; }
.testimonial-container .owl-dots { position: absolute; bottom: 48px; left: 30px; }
.testimonial-images { overflow: hidden; }
.testimonial-images > div { float: left; }
.testimonial-images div + div { padding-left: 20px; padding-top: 20px; max-width: 120px; }
.testimonial-images img { display: inline-block; vertical-align: top; border-radius: 100%; overflow: hidden; }
.testimonial-content { }
.testimonial-content .item-inner { padding: 20px 20px 85px; }
.testimonial-content .title { margin-top: 20px; margin-bottom: 12px; }
.testimonial-content .title a { font-size: 18px; color: rgb(69, 69, 69); }
.testimonial-content .title a:hover { color: rgb(254, 220, 25); }
.testimonial-box { padding: 37px 0px 0px; margin-top: 30px; line-height: 20px; background: url("../image/icon_ttm.png") left top no-repeat; text-align: left; }
.testimonial-container .icon { display: block; text-align: center; padding-top: 5px; }
.testimonial-container .icon i { width: 52px; height: 52px; border: 1px solid rgb(254, 220, 25); display: inline-block; vertical-align: top; position: relative; }
.testimonial-container .icon i::before { content: ""; font-family: simple-line-icons; font-size: 24px; width: 52px; height: 52px; line-height: 52px; background: rgb(255, 255, 255); color: rgb(254, 220, 25); position: absolute; left: 5px; bottom: 5px; text-align: center; }
.testimonial-box a { font-weight: 400; line-height: 22px; text-transform: none; display: block; color: rgb(119, 119, 119); }
.testimonial-box a:hover { color: rgb(254, 220, 25); }
.testimonial-author { font-size: 15px; text-transform: capitalize; color: rgb(34, 34, 34); font-weight: 500; margin-bottom: 6px; }
.row-testimonials { padding: 20px; border: 1px solid rgb(235, 235, 235); margin-bottom: 30px; text-align: center; }
.testimonial-container .owl-carousel.owl-theme .owl-nav div { background: transparent; color: rgba(255, 255, 255, 0.5); }
.testimonial-container .owl-carousel.owl-theme .owl-nav div:hover { color: rgb(255, 255, 255); }



/* newsllter */
.newsletter-group {
	background: #f0f0f0;
	padding: 36px 0;
	text-align: center;
}
.newletter-subscribe-container {float: left;width: 75%;text-align: left;}

#dialog-normal .newletter-title {display: inline-block;vertical-align: top;padding: 10px 0;margin-right: 70px;}
#dialog-normal .newletter-title h5 {
	font-size: 24px;
	text-transform: capitalize;
	margin-bottom: 6px;
	font-weight: 500;
	margin-top: 0;
}
#dialog-normal .newletter-title h5 span {
	color: #222;
}
#dialog-normal .newletter-title p{
	font-size: 16px;
	margin-bottom:0;
	color: #777;
}

#dialog-normal .newleter-content{
	margin-bottom: 0;
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 13px 0;
}
#subscribe-normal {
	margin-bottom: 0;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

#subscribe_email-normal{
	display: inline-block;
	vertical-align: top;
	padding: 10px  20px;
	padding-right: 153px;
	border: 0;
	line-height: 30px;
	height: 54px;
	color: #a6a6a6;
	font-size: 14px;
	font-weight: 500;
	width: 730px;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#frm_subscribe-normal .btn:hover{
	color: #fff;
	background: #222;
}
#frm_subscribe-normal .btn {
	background: #fedc19;
	line-height: 54px;
	padding: 0 23px;
	color: #222222;
	font-weight: 600;
	text-transform: capitalize;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	border-radius: 0;
	-webkit-border-radius: 0;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

/* footer */
footer{
	margin-top: 60px;
}
.footer-top {
	padding: 60px 0 30px 0;
	background: #fff;
}

ul.links-footer {
	display: block;
    padding: 14px 0;
    border-bottom: 2px solid #393939;
    margin-bottom: 47px;
}
ul.links-footer li {
	display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 25px;
    margin-right: 25px;
}
ul.links-footer li:after {
	position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    background: #808080;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
ul.links-footer li:last-child {
	margin: 0;
	padding: 0;
}
ul.links-footer li:last-child:after {
	display: none;
}
ul.links-footer li a {
	line-height: 24px;
    font-size: 13px;
    color: #999999;
    display: block;
    text-transform: capitalize;
}
ul.links-footer li a:hover {
	color: #fedc19;
}
footer .col-footer{
	margin-bottom: 30px;
	position: relative;
	float: left;
}

.footer-title h5{
	font-size: 18px;
	line-height: 24px;
	text-transform: capitalize;
	margin-bottom: 23px;
	font-weight: 600;
	margin-top: 0;
}
.col2 .footer-title h5 {
}
.col4 .footer-title h5 {
	margin-bottom: 34px;
}
.footer-content {
	line-height: 24px;
	font-size: 14px;
	font-weight: 400;
}
.logo-footer {
	display: block;
	margin-bottom: 25px;
}
.footer-contact {
	
}
.footer-contact .footer-title h5 {
	margin-bottom: 26px;
}
.footer-contact li {
	margin-bottom: 15px;
}
.footer-contact li:last-child {
	margin-bottom: 0;
}
.footer-contact li.phone {
	color: #222;
	font-size: 20px;
	font-weight: 500;
}
.footer-contact li span {
	color: #222;
	font-size: 14px;
	font-weight: normal;
}
.payment {
	display:block;
	margin-top: 40px;
}
.payment h5 {
	font-size: 18px;
	line-height: 24px;
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 24px;
	font-weight: 500;
}
footer .list-unstyled.text-content li a:hover{
	margin-left:10px;
}
footer .list-unstyled.text-content li a{color: #777;display: block;font-weight: 400;padding: 0;line-height: 30px;font-size: 14px;}

.tag-static li a:first-child{
	padding: 0 15px;
	font-weight: 400;
	color: #fff;
	background:#37475a;
	border-radius: 2px;
	margin-right: 8px;
}
.tag-static li a:first-child:after,.tag-static li a:last-child:after {
	display:none;
}
.tag-static li a {
	line-height: 32px;
	text-transform: capitalize;
	color: #5b697b;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.tag-static li a:after {
	content:"/";
	display: inline-block;
	vertical-align: top;
	margin:0 9px;
	color: #5b697b;
}
.tag-static li a:hover {
	color: #fff;
}

.tag-static li {
	display: block;
	margin-bottom: 8px;
}
.tag-static li:last-child {
	margin-bottom:0;
}
.footer-bottom {
	text-align: center;
}
.footer-bottom .container-inner {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border-top: 1px solid #e9e9e9;
	padding: 11px 0;
}
.footer-copyright {
	float: left;
	line-height: 30px;
	padding: 10px 0;
}
.footer-copyright p{
	font-size: 13px;
	background: none;
	text-transform: capitalize;
	font-weight: 400;
	margin: 0;
	color: #999;
}

.footer-bottom .footer-copyright a {
	color: #fedc19;
}
.footer-bottom .footer-copyright a:hover {
	text-decoration: underline;
}
.footer-custom-links {
	font-size: 13px;
	float: right;
	padding: 10px 0;
}
.footer-custom-links a {
	display: inline-block;
	vertical-align: top;
	margin-right: 33px;
	position: relative;
	line-height: 30px;
	color: #777;
}
.footer-custom-links a:hover {
	color: #fedc19;
}
.footer-custom-links a:after {
	content: "";
	width: 1px;
	height: 13px;
	background: #777;
	position: absolute;
	right: -19px;
	top: 50%;
	margin-top: -6.5px;
}
.footer-custom-links a:last-child {
	margin: 0;
}
.footer-custom-links a:last-child:after {
	display: none;
}
#back-top i{
	font-size: 18px;
	line-height: inherit;
	display: inline-block;
	vertical-align: top;
}
#back-top:hover{
	background: #fedc19;
}
#back-top{
	position: fixed;
	bottom: 80px;
	right: 30px;
	background: #333;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;
	color: #fff;
	display: none;
	text-align: center;
	cursor: pointer;
	z-index: 100;
}
.follow {
	float: right;
	padding-bottom: 10px;
}
.follow label {
	display: none;
}
ul.link-follow {
  float: right;
  width: 25%;
  text-align: right;
  padding: 13px 0;
}
ul.link-follow li {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}
ul.link-follow li:last-child {
  margin-right: 0;
}
ul.link-follow li a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #222;
  font-size: 0;
  width: 54px;
  height: 54px;
  line-height: 54px;
  background: #fff;
	border-radius: 5px;
  text-align: center;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
ul.link-follow li a:before {
  font-size: 20px;
}

ul.link-follow li a span {
  display: none;
}
ul.link-follow li a:hover {
  color: #fedc19;
  border-color: #fff;
  background: #fff;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.1);
}









.module-group > .container > .row > .main-col.col-md-3 {
    width: 285px;
}
.module-group > .container > .row > .main-col.col-md-9 {
    width: calc(100% - 285px);
}

.slider-group > .container > .row > .main-col.col-md-6 {
    width: calc(100% - 570px);
}

/* slider-group */
.slider-group {
	position: relative;
	z-index: 6;
}
.slider-group > .container > .row > .main-col.col-md-3 {
	width: 285px;
}
.slider-group > .container > .row > .main-col.col-md-6 {
	width:calc(100% - 570px);
}

@media(min-width: 768px) {
	.container {
		width: auto;
		padding: 0 30px;
		max-width: 1920px;
	}
}
@media(min-width: 1500px){
	.container {
		padding: 0 120px;
	}
	
	.product-image-main {
		width: 35%;
	}
	.product-info-main {
		width: 65%;
	}
}
/* responsive */
@media(max-width: 1800px){
	#subscribe_email-normal {
		width: 500px;
	}
}
@media(max-width: 1700px){
	#subscribe_email-normal {
		width: 450px;
	}
}